@import "default.less";
@font-face{
    font-family:Roboto;
    src: url(../fonts/roboto-regular.ttf);
}
@font-face{
    font-family:roboto-thin;
    src: url(../fonts/roboto-thin.ttf);
}
@font-face{
    font-family:roboto-bold;
    src: url(../fonts/roboto-bold.ttf);
}
.container h1{
    font-family:roboto-thin;
    .h1-resp-style(@x-width:1700px; @x-size:60px);
}
.container h3{
    font-family:Roboto;
    .h3-resp-style(@x-width:1700px; @x-size:36px);
}
@dark-screen-color: #0e1a35;
.this-project-button(@r:27px; @button-height: 30px; @border-width:1px; @border-color:black){
    .button(@r:27px; @button-height);
    .transition();
    border: @border-width solid transparent;
    &:hover{
        .transition();
        border: @border-width solid @border-color;
    }
    &:active{
        background-color: @border-color;
        .transition(0;0);//Надо убрать транзишон, а то срабатывает  где не надо.
    }
}
nav{
    font-size: 18.5px;
    font-family:Roboto;
    &.bg-dark{background-color: @dark-screen-color !important;}//Переопределил цвет для наваа
    &.absolutly{
    }
    .container{
        margin-top: 54px;
        @media (min-width: 1710px ){
            max-width: 1700px !important;
            padding: 0px !important;
        }

        .navbar-brand{
            padding-left: 10px;
            @media (max-width: @md - 1){width: 180px;}
            img{width: 100%;}
        }

        .navbar-nav{
            .nav-item{
                .nav-link{
                    padding-top: 12px;
                    padding-right: 43.8px;
                    @media (max-width: @lg - 1){padding-right: 0px;}
                    color: #fff;
                }
                .login-btn{
                    @border-color: #233a72;
                    @border-width: 1px;
                    padding: 11px 43px;
                    padding-top: 9px;
                    .rounded(27px);
                    color: #5584ff;
                    outline:none;//Убираем обводку при нажатии или выеделении кнопки.
                    .transition();
                    border: @border-width solid transparent;
                    &:hover{
                        .transition();
                        border: @border-width solid @border-color;
                    }
                    &:active{
                        background-color: @border-color;
                        .transition(0;0);//Надо убрать транзишон, а то срабатывает  где не надо.
                    }
                }
            }
        }
    }
}
.header-background{
    height: 100vh;
    background-color: @dark-screen-color;
    position: absolute;
    width: 100vw;
    z-index: 0;
    background-image: url(../imgs/firstScreen/Graph.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 13%;
}
.get-started{
    position: relative; // это нужно чтобы z-index сработал см проблемы с css свойствами почему z-index не срабатывает.
    z-index: 0;
    .container{
        height: 100%;
        z-index: 10;
        @media (min-width: (@lg)){padding-top: 121px;}
        @media (max-width: (@lg - 1)){padding-top: 50px}

        h1{
            color: #fff;
            font-family: roboto-thin;
        }
        h3{
            color: #8492af;
            font-family: Roboto;
        }
        h3 + div{
            margin-top: 82px;
            .start-btn{
                .rounded(27px);
                @start-btn-color: #5584ff;
                background-color: @start-btn-color;
                text-decoration: none;
                color: #fff;
                font-family: roboto-bold;
                font-size: 19px;
                @side-button:52px;
                padding-left: @side-button;
                padding-right: @side-button;
                padding-top: 2px;

                &:hover{background-color: darken(@start-btn-color, 15%);}
                &:active{background-color: darken(@start-btn-color, 30%);}

                &>div{//это искуственно посаженный блок, чтобы задать высоту кнопке.
                    display: inline-block;
                    height: 46px;
                    vertical-align: middle;//Если не понимаешь зачем тут это свойство, то читай в css>проблемы со свойствами>vertical-align
                }
            }
        }
        .image-container{
            margin-top: 8%;
        }
    }
}

.icon-features{
    .container{
        margin-top: 6.7%;
        @media (min-width: 1710px ){
            max-width: 1342px !important;
            padding: 0px !important;
        }
        .row{
            div.column-lg{
                @media (min-width: (@lg)){
                    max-width: 370px;
                    padding: 0;
                }

            }
            div.image-container{
                height: 39%;
                margin-bottom: 4.5px;
                img{width: 80px;}
            }
            h4{
                padding-right: 2px;
                font-family: roboto-bold;
                font-size: 1.55rem;
            }
            p{
                margin-top: 17px;
                color: #8492af;
                font-size: 19px;
                line-height: 29.5px;
            }
            .see-more-button{
                .this-project-button(@border-color:#dadee7; @button-height:47px;);
                color: #0e1a35;
                margin-top: 34px;
                padding: 0 85px;
                padding-top: 1px;
                font-family: roboto-bold;
                font-size: 19px;
            }
            &>:nth-child(1){
                position: relative;
                left: 15px;
            }
            &>:nth-child(2){
                div.image-container img{
                    width: 92px;
                    position: relative;
                    bottom: 6px;
                }
            }
            &>:nth-child(3){
                div.image-container img{
                    position: relative;
                    bottom: 3px;
                }
            }
        }
    }
}
