@font-face{
    font-family:Roboto;
    src: url(../fonts/RobotoSlab-Regular.ttf);
}
@sm: 576px;
@md: 768px;
@lg: 992px;
@xl: 1200px;
.h1-resp-style{
    text-align: center;
    @media (max-width: (@sm - 1) ){font-size: 1rem;}
    @media (min-width: @sm ) and (max-width: (@md - 1) ){font-size: 1.5rem;}
    @media (min-width: @md ) and (max-width: (@lg - 1) ){font-size: 2rem;}
    @media (min-width: @lg ){font-size: 2.3rem;}
}
.h3-resp-style{
    text-align: center;
    @media (max-width: (@sm - 1) ){font-size: 1rem;}
    @media(min-width: @sm ) and (max-width: (@md - 1)){font-size: 1.4rem;}
    @media (min-width: @md ){font-size: 1.70rem;}
}
.round{border-radius: 50%;}
.text{
    &r{
        text-align: right;
        &-none{text-align:inherit;}
        &-sm{
            @media (min-width: @sm ){
                text-align: right;
                &-none{text-align:inherit;}
            }
        }
        &-md{
            @media (min-width: @md ){
                text-align: right;
                &-none{text-align:inherit;}
            }
        }
        &-lg{
            @media (min-width: @lg ){
                text-align: right;
                &-none{text-align:inherit;}
            }
        }
        &-xl{
            @media (min-width: @xl ){
                text-align: right;
                &-none{text-align:inherit;}
            }
        }
    }
    &c{
        text-align: center;
        &-none{text-align:inherit;}
        &-sm{
            @media (min-width: @sm ){
                text-align: center;
                &-none{text-align:inherit;}
            }
        }
        &-md{
            @media (min-width: @md ){
                text-align: center;
                &-none{text-align:inherit;}
            }
        }
        &-lg{
            @media (min-width: @lg ){
                text-align: center;
                &-none{text-align:inherit;}
            }
        }
        &-xl{
            @media (min-width: @xl ){
                text-align: center;
                &-none{text-align:inherit;}
            }
        }
    }
    &l{
        text-align: left;
        &-none{text-align:inherit;}
        &-sm{
            @media (min-width: @sm ){
                text-align: left;
                &-none{text-align:inherit;}
            }
        }
        &-md{
            @media (min-width: @md ){
                text-align: left;
                &-none{text-align:inherit;}
            }
        }
        &-lg{
            @media (min-width: @lg ){
                text-align: left;
                &-none{text-align:inherit;}
            }
        }
        &-xl{
            @media (min-width: @xl ){
                text-align: left;
                &-none{text-align:inherit;}
            }
        }
    }
}