@import "_default.less";
@font-face{
    font-family:Roboto;
    src: url(../fonts/roboto-regular.ttf);
}
@font-face{
    font-family:roboto-thin;
    src: url(../fonts/roboto-thin.ttf);
}
@font-face{
    font-family:roboto-bold;
    src: url(../fonts/roboto-bold.ttf);
}
.container-fluid h1, .container h1{
    font-family:roboto-thin;
    .h1-resp-style(@xs-size:1.6rem;@x-size:60px);
}
.container-fluid h3, .container h3{
    font-family:Roboto;
    .h3-resp-style(@xl-size:36px);
}
p{
    .font-resp-style(@xs-sz: 14px; @md-sz: 16px; @lg-sz: 18px);
}
a{.outlineless();}
@dark-screen-color: #0e1a35;
.this-project-button(@r:27px; @button-height: 30px; @border-width:1px; @border-color:black){
    .button(@r:27px; @button-height);
    .transition();
    border: @border-width solid @border-color;
    &:hover{
        .transition();
    }
    &:active{
        background-color: @border-color;
        .transition(0;0);//Надо убрать транзишон, а то срабатывает  где не надо.
    }
}
html{height: 100%;}
body{height: 100%;}
nav{
    font-size: 18.5px;
    font-family:Roboto;
    &.bg-dark{background-color: transparent !important;}//Переопределил цвет для наваа
    &.absolutly{
    }
    .container{
        margin-top: 54px;
        @media (min-width: 1710px ){
            max-width: 1700px !important;
            padding: 0px !important;
        }

        .navbar-brand{
            padding-left: 10px;
            @media (max-width: @md - 1){width: 180px;}
            img{width: 100%;}
        }

        .navbar-nav{
            .nav-item{
                position: relative;
                //Позиционируем элементы в меню, т.к. между ними растояние разно, то пришло
                @media(min-width: @lg) { 
                    &:nth-child(1){right: 50px;}
                    &:nth-child(2){right: 41px;}
                    &:nth-child(3){right: 34px;}
                    &:nth-child(4){right: 23px;}
                }

                @border-color:  #233a72;
                @button-height: 11px;
                .nav-link{
                    padding: @button-height 20px;
                    @padSide: 20px;
                    color: #fff;
                    .button(@r:27px; 50px);
                    .transition();
                    border: 1px solid transparent;
                    &:hover{
                        .transition( );
                        border-color: @border-color;
                    }
                    &:active{
                        background-color: @border-color;
                        .transition(0;0);
                    }
                }
                .login-btn{
                    @border-width: 1px;
                    padding: @button-height 43px;
                    padding-top: 9px;
                    .rounded(27px);
                    color: #5584ff;
                    outline:none;//Убираем обводку при нажатии или выеделении кнопки.
                    .transition();
                    border: @border-width solid transparent;
                    &:hover{
                        .transition();
                        border-color: @border-color;
                    }
                    &:active{
                        background-color: @border-color;
                        .transition(0;0);//Надо убрать транзишон, а то срабатывает  где не надо.
                    }
                }
            }
        }
    }
}
.header-background{
    height: 100vh;
    background-color: @dark-screen-color;
    margin-top: -1px;//это нужно для гуголь хрома, чтобы не появлялась линия между nav и header-background
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    background-image: url(../img/firstScreen/Graph.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 35%;
}

.get-started{
    position: relative; // это нужно чтобы z-index сработал см проблемы с css свойствами почему z-index не срабатывает.
    z-index: 0;
    @media (min-height: (1050px)){height: 100vh;}//Это необходимо для того, чтобы при больших высотах нижний скрин (icons-featres) налезает наверх, поэтому высота должна быть 100vh чтобы вытолкнуть этот скрин ниже. Но при маленьких высотах картинка с Hello John! лезет на нижний экран и налезает на второй скрин, т.к. первый официально закончился , ведь высота у него 100vh поэтому на малых высотах высота должна быть auto, чтобы отталкивать второй скрин вниз.
    .container{
        height: 100%;
        z-index: 10;
        @media (min-width: (@lg)){padding-top: 121px;}
        @media (max-width: (@lg - 1)){padding-top: 50px}

        h1{
            color: #fff;
            font-family: roboto-thin;
        }
        h3{
            color: #8492af;
            font-family: Roboto;
        }
        h3 + div{
            margin-top: 82px;
            .start-btn{
                .rounded(27px);
                @start-btn-color: #5584ff;
                background-color: @start-btn-color;
                text-decoration: none;
                color: #fff;
                font-family: roboto-bold;
                font-size: 19px;
                @side-button:52px;
                padding-left: @side-button;
                padding-right: @side-button;
                padding-top: 2px;

                &:hover{background-color: darken(@start-btn-color, 15%);}
                &:active{background-color: darken(@start-btn-color, 30%);}

                &>div{//это искуственно посаженный блок, чтобы задать высоту кнопке.
                    display: inline-block;
                    height: 46px;
                    vertical-align: middle;//Если не понимаешь зачем тут это свойство, то читай в css>проблемы со свойствами>vertical-align
                }
            }
        }
        .image-container{
            margin-top: 8%;
            img{@media(max-width: @lg) { width: 100%; }}
        }
    }
    @media (max-width: (@lg - 1)){
        height: 100vh
    }

}

.icon-features{
    @icon-features-width-container-max: 1710px;
    @media (min-width: (@lg)){ height: 700px; }
    .container{
        position: relative;
        top: 17%;
        @media (min-width: @icon-features-width-container-max ){
            max-width: 1342px !important;
            padding: 0px !important;
        }
        .row-of-lines{
            margin-bottom: -3px;
            max-width: 74%;
            margin-left: 13%;
            position: relative;
            top: 35px;
            div.line{
                width: 22%;
                border-bottom: solid 1px #dadee7;
            }
            }
        .row:not(.row-of-lines){
            div.column-lg{
                padding: 0 !important;
                @media (max-width: (@lg - 1)){
                    margin-bottom: 20px;
                }

                @media (min-width: (@lg)){
                    max-width: 30%x;
                    padding: 0;
                }

                @media (min-width: (@xl)){max-width: 370px;}

            }
            div.image-container{
                height: 135px;
                img{width: 80px;}
            }
            h4{
                padding-right: 2px;
                font-family: roboto-bold;
                font-size: 1.55rem;
            }
            p{
                margin-top: 17px;
                color: #8492af;
                font-size: 19px;
                line-height: 29.5px;
            }
            .see-more-button{
                @bc: #dadee7;
                .button(@r:27px; 47px);
                .transition();
                border: 1px solid @bc;
                &:active{
                    background-color: @bc;
                    .transition(0;0);//Надо убрать транзишон, а то срабатывает  где не надо.
                }
                color: #0e1a35;
                margin-top: 34px;
                padding: 0 85px;
                padding-top: 1px;
                font-family: roboto-bold;
                font-size: 19px;
            }
            &>:nth-child(1){
                @media (min-width: (@icon-features-width-container-max)){
                    position: relative;
                    left: 15px;
                }
            }
            &>:nth-child(2){
                div.image-container img{
                    width: 92px;
                    @media (min-width: (@lg)){
                        position: relative;
                        bottom: 6px;
                    }
                }
            }
            &>:nth-child(3){
                div.image-container img{
                    @media (min-width: (@lg)){
                        position: relative;
                        bottom: 3px;
                    }
                }
            }
        }
    }
}
.all-your-need-is-a-love{
    font-family: Roboto;
    .container-fluid{
        .row{
            div.col-12{
                div.ml-auto{
                    @media (min-width: (@lg)){top: 12%}
                    position: relative;
                    
                    left: -8px;

                    h1{
                        margin-bottom: 38px;
                        @media(max-width: @lg) { font-weight: 900; }
                    }
                    div{
                        @media(min-width: @lg) { max-width:84%; }
                        p{
                            line-height: 30px;

                            & + p{
                                margin-top: 30px;
                            }
                        }
                        ul{
                            margin-top: 57px;
                            position: relative;
                            right: 38px;
                            li{
                                list-style: none;
                                .font-resp-style(@xs-sz: 15px; @md-sz: 19px; @lg-sz: 22px);
                                margin-bottom: 24px;

                                &:before{
                                    @marker-size: 28px;
                                    content: '';
                                    display: inline-block;
                                    background-image: url(../img/screenAllYourNeedIsABrowser/marker.png);
                                    background-size: cover;
                                    width: @marker-size;
                                    height: @marker-size;
                                    margin-right: 17px;
                                }

                                span{
                                    position: relative;
                                    bottom: 7px;
                                }
                            }
                        }
                    }
                }
            }
            div.d-none{
                background-size: 105%;
                background-position-x: -40px;
                background-position-y: 70px;
                background-repeat: no-repeat;

                picture{
                    position: relative;
                    top: 1%;
                }
            }
        }

    }
}
