 !!! 5
%html(lang="en")
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
    %meta(charset="UTF-8")/
    %title Mercury
    %meta(content="width=device-width, initial-scale=1" name="viewport")/
    %link(href="css/style.css" rel="stylesheet")/
    %link(href="css/libs.min.css" rel="stylesheet prefetch")/
    %link(rel="shortcut icon" type="image/png" href="img/favicon.ico?v=3")/
  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.absolutly
      .container
        %a.navbar-brand(href="#!")
          %img(alt="logo" src="img/nav/Logo.png")/
        %button.navbar-toggler(aria-controls="navbarSupportedContent" aria-label="Toggle navigation" data-target="#navbarSupportedContent" data-toggle="collapse" type="button")
          %span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto.textc
            %li.nav-item
              %a.nav-link(href="#!") Features
            %li.nav-item
              %a.nav-link(href="#!") Pricing
            %li.nav-item
              %a.nav-link(href="#!") Blog
            %li.nav-item
              %a.nav-link(href="#!") Contact
            %li.nav-item
              %a.nav-link.login-btn(href="#!") Login
    .header-background
    .get-started
      .container.textc
        %h1 Grow Your business with Merkury
        %h3 Your partner in crime!
        %div
          %a.start-btn.outlineless.d-inline-block(href="#!")
            %div
              / этот блок нужен, чтобы задать высоту ссылочной кнопке использую height и vertical align
            Get started
        .image-container
          %picture
            %source(media="(min-width: 1200px)" srcset="img/firstScreen/dashboard-1200.png")
            %source(media="(min-width: 992px)" srcset="img/firstScreen/dashboard-992.png")
            %source(media="(min-width: 768px)" srcset="img/firstScreen/dashboard-768.png")
            %source(media="(min-width: 576px)" srcset="img/firstScreen/dashboard-576.png")
            %source(media="(max-width: 575px)" srcset="img/firstScreen/dashboard-576.png")
            %img(alt="dashboard" src="img/firstScreen/dashboard.png")
    .icon-features
      .container
        .row.row-of-lines.d-none.d-lg-flex
          .line.mx-auto
          .line.mx-auto
        .row
          .col-12.col-lg-4.textc.column-lg
            .image-container
              %img(alt="image for column #1" src="img/secondScreen/myw.png")/
            %h4 Manage Your Workflow
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            %a.see-more-button.outlineless(href="#!")
              %div>
              See more
          .col-12.col-lg-4.textc.mx-auto.column-lg
            .image-container
              %img(alt="image for column #2" src="img/secondScreen/ai.png")/
            %h4 Analytics &amp; Insights
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            %a.see-more-button.outlineless(href="#!")
              %div>
              See more
          .col-12.col-lg-4.textc.column-lg
            .image-container
              %img(alt="image for column #3" src="img/secondScreen/oyd.png")/
            %h4 Organize Your Deadlines
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            %a.see-more-button.outlineless(href="#!")
              %div>
              See more
    .all-your-need-is-a-love
      .container-fluid
        .row
          .col-12.col-lg-6
            .col-xl-9.ml-auto.textc.textl-lg
              %h1.d-block All You need is a browser!
              .text
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                %ul
                  %li
                    .li-content
                      .li-marker-container
                        .li-marker.my-auto
                      .li-text-container
                        %span.li-text Lorem ipsum dolor sit amet consectetur
                  %li
                    .li-content
                      .li-marker-container
                        .li-marker.my-auto
                      .li-text-container
                        %span.li-text Ut enim ad minim veniam quis nostrud
            .additional-height
          .d-none.d-lg-block.col-lg-6.px-0.my-auto
            %picture.px-0.col-12
              %source(media="(min-width: 1200px)" srcset="img/screenAllYourNeedIsABrowser/Grupa2-1200.png")
              %source(media="(min-width: 992px)" srcset="img/screenAllYourNeedIsABrowser/Grupa2-992.png")
              %source(media="(min-width: 768px)" srcset="img/screenAllYourNeedIsABrowser/Grupa2-768.png")
              %source(media="(min-width: 576px)" srcset="img/screenAllYourNeedIsABrowser/Grupa2-576.png")
              %source(sizes="100vw" srcset="img/screenAllYourNeedIsABrowser/Grupa2-320.png")
              %img.col-12.p-0(alt="Lotus" src="img/screenAllYourNeedIsABrowser/Grupa2.png")
    .drag-and-drop-screen
      .container-fluid
        .row
          .col-12.col-lg-6.ml-auto.dnd-image.order-12.order-lg-1
            %picture
              %source(media="(min-width: 1200px)" srcset="img/4Drag&Drop/Workflow-1200.png")
              %source(media="(min-width: 992px)" srcset="img/4Drag&Drop/Workflow-992.png")
              %source(media="(min-width: 768px)" srcset="img/4Drag&Drop/Workflow-768.png")
              %source(media="(min-width: 576px)" srcset="img/4Drag&Drop/Workflow-576.png")
              %source(media="(max-width: 575px)" srcset="img/4Drag&Drop/Workflow-576.png")
              %img.d-block.ml-auto(alt="workflow" src="img/4Drag&Drop/Workflow.png")
          .col-12.col-lg-6.order-1.order-lg-12
            / Карусель сделана на основе https://getbootstrap.com/docs/4.0/components/carousel/
            #DragAndDropCarousel.carousel.slide(data-ride="carousel")
              .carousel-inner
                .container-fluid
                  .carousel-item.active
                    .row.text-carousel
                      .col-12.header-container
                        %h1 Drag & Drop
                      .col-12.text-container
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        %p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                  .carousel-item
                      .row.text-carousel
                        .col-12.header-container
                          %h1 Drag & Drag
                        .col-12.text-container
                          %p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .carousel-item
                      .row.text-carousel
                        .col-12.header-container
                          %h1 Drag & Drop
                        .col-12.text-container
                          %p Lorem ipsum dolor sit amet,
                          %p Ut enim ad minim veniam, 
                %a.left.carousel-control(data-slide="prev" href="#DragAndDropCarousel")
                  %img(alt="arrow left" src="img/4Drag&Drop/Arrow_left.png")
                %a.right.carousel-control(data-slide="next" href="#DragAndDropCarousel")
                  %img(alt="arrow right" src="img/4Drag&Drop/Arrow_right.png")
    .powerfull-psd
      .container
        .row
          .col-12
            %h1 Powerfull PSD Template
            %p 
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              %br/
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            %picture
              %source(media="(min-width: 1200px)" srcset="img/5PowerfullPSD/main_img-1200.png")
              %source(media="(min-width: 992px)" srcset="img/5PowerfullPSD/main_img-992.png")
              %source(media="(min-width: 768px)" srcset="img/5PowerfullPSD/main_img-768.png")
              %source(media="(min-width: 576px)" srcset="img/5PowerfullPSD/main_img-576.png")
              %source(media="(max-width: 575px)" srcset="img/5PowerfullPSD/main_img-576.png")
              %img.col-12(alt="Powerfull PSD Template" src="img/5PowerfullPSD/main_img.png")
    .pricing
      .container
        .row
          %h1.d-block.w-100 Check our pricing!
        .row.row-with-cards
          .card.bronze-plan.mx-auto.mx-lg-0.mb-4.mb-lg-0
            %h4.card-name BRONZE PLAN
            %h3.price 
              %span.dollar-sign $ 
              %span.amount-of-dollars 19
              %span.per-month \/mon
            %ul.pros-and-cons
              %li.pros
                .li-content
                  .li-marker-container
                    .li-marker.my-auto
                  .li-text-container
                    %span.li-text Lorem ipsum dolor sit am
              %li.pros
                .li-content
                  .li-marker-container
                    .li-marker.my-auto
                  .li-text-container
                    %span.li-text Lorem ipsum dolor sit am
              %li.cons
                .li-content
                  .li-marker-container
                    .li-marker.my-auto
                  .li-text-container
                    %span.li-text Lorem ipsum dolor sit am
              %li.cons
                .li-content
                  .li-marker-container
                    .li-marker.my-auto
                  .li-text-container
                    %span.li-text Lorem ipsum dolor sit am
          .card.silver-plan.mx-auto.mb-4.mb-lg-0
            %h4.card-name SILVER PLAN
            %h3.price 
              %span.dollar-sign $ 
              %span.amount-of-dollars 49
              %span.per-month \/mon
            %ul.pros-and-cons
              %li.pros
                .li-content
                  .li-marker-container
                    .li-marker.my-auto
                  .li-text-container
                    %span.li-text Lorem ipsum dolor sit am
              %li.pros
                .li-content
                  .li-marker-container
                    .li-marker.my-auto
                  .li-text-container
                    %span.li-text Lorem ipsum dolor sit am
              %li.pros
                .li-content
                  .li-marker-container
                    .li-marker.my-auto
                  .li-text-container
                    %span.li-text Lorem ipsum dolor sit am
              %li.cons
                .li-content
                  .li-marker-container
                    .li-marker.my-auto
                  .li-text-container
                    %span.li-text Lorem ipsum dolor sit am
          .card.gold-plan.mx-auto.mx-lg-0
            %h4.card-name GOLD PLAN
            %h3.price 
              %span.dollar-sign $ 
              %span.amount-of-dollars 99
              %span.per-month \/mon
            %ul.pros-and-cons
              %li.pros
                .li-content
                  .li-marker-container
                    .li-marker.my-auto
                  .li-text-container
                    %span.li-text Lorem ipsum dolor sit am
              %li.pros
                .li-content
                  .li-marker-container
                    .li-marker.my-auto
                  .li-text-container
                    %span.li-text Lorem ipsum dolor sit am
              %li.pros
                .li-content
                  .li-marker-container
                    .li-marker.my-auto
                  .li-text-container
                    %span.li-text Lorem ipsum dolor sit am
              %li.pros
                .li-content
                  .li-marker-container
                    .li-marker.my-auto
                  .li-text-container
                    %span.li-text Lorem ipsum dolor sit am
        .row.row-with-offer
          %p.offer.textc.mx-auto
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
            %br/ 
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        .row.row-with-button.mx-auto
          .line.left-line
          .button-container.mx-auto
            %a.my-btn.outlineless.d-inline-block(href="#!")
              %div
                / этот блок нужен, чтобы задать высоту ссылочной кнопке использую height и vertical align
              Join now!
          .line.right-line
        .row.row-additional-height
    .footer
      .container
        .footer-content
          .left-footer-side.d-inline-block.mr-auto
            %span
              &#169 2016 Merkury All Right Reserved
          .right-footer-side.d-inline-block
            %ul.horizontal-ul.ul-with-words.d-inline-block
              %li 
                %a.my-anchor(href="#!") Pricing
              %li 
                %a.my-anchor(href="#!") Blog
              %li
                %a.my-anchor(href="#!") Contact
            %ul.horizontal-ul.ul-with-icons.d-inline-block
              %li 
                %a(href="#!")
                  %img.facebook(alt="facebook.ico" src="img/footer/facebook.png")/
              %li 
                %a(href="#!")
                  %img.twitter(alt="twitter.ico" src="img/footer/twitter.png")/
              %li 
                %a(href="#!")
                  %img.google(alt="google.ico" src="img/footer/google.png")/
    %script(src="js/libs.min.js")
    %script(src="js/script.js")